.loader{
    position: absolute;
    z-index: 10001;
    height: 100vh;
    width: 100%;
    background: #fff;
    
}
.loader img{
    position: relative;
    display: block;
    margin: auto;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    
}
.popup{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    width: 130px;
}

.top_line{
    height: 5px;
    background:#0c1e2e;
}
.top_shape1{
    height:50px;
    background: #0c1e2e;
    padding-left: 50px;
    
}
.top_shape1 span{
    color:#fff;
    font-size: 13px;
/*    line-height: 5px;*/
}
/*
.top_shape1 span::after{   
    background-image: url(../images/logo/aff.png);
    background-size: 100% 100%;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-left: 176px;
    content: "";
    position: absolute;
    margin-top: -49px;
}
*/
.top_shape1::before{
    content: "";
    padding: 0;
    width: 0;
    height: 0;
    left: 0;
    position: absolute;
    border-right: 50px solid #0c1e2e;
    border-bottom: 50px solid white;
}
.top_info{
/*    background: red;*/
}
.top_info p{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.top_info p i{
    margin-right: 10px;
    font-size: 20px;
    border: 2px solid;
    padding: 5px;
   
}
.img_logo p{
    position: absolute;
    z-index: 100;
    left: 25%;
    top: 0;
    color: #000000;
    font-weight: bold;
}
.img_logo img{
    margin-left: 25px;
    margin-bottom: 25px;
}
.img_logo p span{
    font-size: 25px;
    font-weight: bold;
    color: #00afef;
}
#gmap_canvas{
    width:100%!important;
}
@media only screen and (max-width: 990px) {
.top_shape1::before{
    content: "";
    padding: 0;
    width: 0;
    height: 0;
    left: 0;
    position: absolute;
    border-right: 0px solid #0c1e2e;
    border-bottom: 0px solid white;
}
.img_logo img{
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 25px;
}
}
@media only screen and (max-width: 768px) {
    .img_logo img{
        position: relative;
        margin: auto;
        top: 10px;
    }
.img_logo p{    
    position: static;
    text-align: center;
    }
 .well {
    background-color: #fff;
     box-shadow: none!important; 
     border: 1px solid #444;
     margin: 10px!important; 
     margin-top: 10px!important; 
}
}



/*top end*/
.navbar-inverse{
    background: #0c1e2e;
}

.navbar{
    margin-bottom: 0;
}
.navbar>.container .navbar-brand{
    margin-left: 20px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-nav>li>.dropdown-menu{
    width: 200px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    line-height: 2.846;
    color: #0c1e2e;
    white-space: nowrap;
    text-transform: uppercase;
    /* background: #fafdff; */
}
.dropdown-menu>li>a:hover{
    background-color: cyan;
}
/* navbar end*/


.carousel-inner .item .img{
    width: 100%;
    height: 420px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 115%;
    z-index: 15;
    width: 20%;
    margin-left: -36%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #2196f3;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: #2196f3;
}
.carousel-indicators .active {
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: notifier;
}
.s1{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
}
.s2{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
}
.slide1{
    left: 5px;
    z-index: 100;
    width: 40%;
}
.slide_img1{
    position: absolute;
    display: block;
    z-index: 101;
    left: 160px;
    bottom: 180px;
    width: 130px;
    animation-delay: 1s;
}
.slide_img2{
    position: absolute;
    display: block;
    z-index: 101;
    left: 209px;
    bottom: 213px;
    width: 130px;
    animation-delay: 1s;
}
.slide_img3{
    position: absolute;
    display: block;
    z-index: 105;
    left: 209px;
    bottom: 180px;
    width: 130px;
    animation-delay: 1s;
    width: 60px;
}
.pos1{
    left: 60px;
    width: 70px;
}
.pos2{
    left: 320px;
    width: 82px;
    bottom: 172px;
}
.pos3{
    bottom: 300px;
    left: 200px;
}
.pos4{
    width: 81px;
    bottom: 69px;
    left: 192px;
    background: #fff;
    border-radius: 10px;
    padding: 2px;
}
.soft{
    bottom: 160px;
    left: -39px;
}
/*Notification*/
.notifier{
    background:#0c1e2e;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    font-size: 15px;
    }

/*course */
.course{
    padding-top: 20px;
}
.f_shape{
    position: absolute;
    right: 0;
    z-index: -1;
    
}
.f_shape2{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.f_shape3{
    position: absolute;
    right: 0;
    top: 200px;
    z-index: -1;
}
.f_shape4{
    position: absolute;
    left: 0;
    width: 200%;
    top: 200px;
    z-index: -1;
}
.well{
    background-color: #fff;
    box-shadow:  0 0 17px 0px #444;
    margin:60px;
    margin-top: 80px;
    
}
.netwrk_sub{
   display: none;
}
.netwrk:hover .netwrk_sub{
    display: block;
/*    height: 100px;*/
    position: absolute;
    width: 200px;
    background: #fff;
    z-index: 100;
    left: 100%;
    top: 0;
}
.software_sub{
   display: none;
}
.software:hover .software_sub{
    display: block;
/*    height: 100px;*/
    position: absolute;
    width: 200px;
    background: #fff;
    z-index: 100;
    left: 100%;
    top: 0;
}
.others_sub{
   display: none;
}
.others:hover .others_sub{
    display: block;
/*    height: 100px;*/
    position: absolute;
    width: 200px;
    background: #fff;
    z-index: 100;
    left: 100%;
    top: 0;
}
